:root {
    --blue: #274472;
    --white: #fff;
    --black: #030303;
    --grey: #979797;
}
/* universal selector */
* {
    color: var(--white);
    background-color: var(--blue);
}

main {
    background-color: var(--blue);
}

/* general classes */
.centertext {
    text-align: center;
}

/* header */
nav,
ul,
footer {
    background-color: var(--white);
    margin: 0px 12% 10px;
    
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: #030303 solid 12px;
    border-left: #030303 solid 12px;
    border-right: #030303 solid 12px;
    border-radius: 25px;
    position: fixed;
    z-index: 1;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    padding: 15px;
    margin: 0;
    border: var(--white);
    border-radius: 25px;
}

li {
    background-color: var(--white);
    display: inline-block;
    margin: 0 20px;
}

li a {
    background-color: var(--white);
    color: #030303;
    text-decoration: none;
    font-size: 1.4em;
}

#namelogo {
    width: 25%;
    height: auto;
    margin: 8px;
    align-self: flex-start;
}

/* nav hover */
nav:hover a {
    opacity: 0.3;
}

nav a:hover {
    font-weight: bolder;
    opacity: 1;
}


/* main content */
.maincontent {
    border: black solid 5px;
    padding: 2%;
    margin: 0% 8% 2%;
    height: 480px;
}

main, footer {
    position: relative;
    top: 140px;
}

.maincontent:hover {
    box-shadow: 2px 2px 50px 12px var(--black);
}

/* first section, picture, name and title */
#topcontent h1, p img {
    display: inline-block;
}

#topcontent h1 {
    font-size: 250%;
    font-family: 'Playfair Display', 'Courier New', Courier, monospace;
    margin: 1%;
}

#topcontent p {
    font-size: 150%;
    font-family: 'Fairplay Display', 'Courier New', Courier, monospace;
    margin: 1%;
}

#topcontent {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* about me section */
#aboutme {
    line-height: 2em;
    padding: 3%;
    height: auto;
}

#aboutme h1 {
    font-size: 2.0em;
    border-bottom: var(--white) 2px solid;
    padding-bottom: 1%;
}

#aboutme h2 {
    font-size: 1.5em;
    padding: 1% 0;
}

/* my work section */
#mywork {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

#mywork h1 {
    display: inline-block;
    font-size: 2em;
    margin-bottom: .5%;
    width: fit-content;
}

#mywork h1:hover {
    font-weight: bolder;
    cursor: pointer;
    text-shadow: 5px 5px 5px var(--black);
}

#mywork .hublink {
    width: 60%;
    text-decoration: none;
}

#github {
    width: 100%;
    height: auto;
    border: var(--white) solid 1px;
}

.codeart {
    width: 35%;
    height: auto;
    border: var(--white) solid 1px;
    display: inline-block;
}

#github:hover, .codeart:hover {
    border: var(--white) solid 4px;
    cursor: pointer;
}

/* Contact me section */
#contact {
    height: fit-content;
}

#contact h1 {
    font-size: 2em;
    border-bottom: 2px solid var(--white);
    padding-bottom: 4px;
    margin-bottom: 2%;
}

#contact p {
    font-size: 1.5em;
    line-height: 2em;
}








/* imgages */
#me {
    width: 35%;
    height: auto;
    margin-left: 2%;
    border: 4px var(--black) solid;
    border-radius: 25px;
}